@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter", sans-serif;
}

body{
    display:block;
    align-items:center;
    min-height:100vh;
    padding:20px 0;
    background:linear-gradient(#ECEFFE, #CED8FC); 
    overflow-x:hidden;
}

.main-content{
  display:block;
  width:100%;
  padding-top:70px;
  padding-bottom:80px;
}

.container {
    margin-bottom: 80px;
    width:100%;
}


.section-head {
    width: 100%;
    max-width: 1100px; 
    font-size: 2.5rem; 
    color: #2F3A5F;
    font-weight: 600;
    margin: 0 auto 20px;
    padding: 50px 20px;  
    text-align: left;  
}

body.dark-mode .section-head{
    color:#fff;
}
    
.card-wrapper{
    max-width:1100px;
    width:100%;
    margin:0 auto 35px;
    padding:20px 10px;
    overflow:hidden;
}

.card-list .card-item{
    list-style:none;
} 

.card-list .card-item .card-link {
    user-select:none;
    
    display:block;
    background:#fff;
    padding:18px;
    border-radius:12px;
    text-decoration:none;
    border:2px solid transparent;
    box-shadow:0 10px 10px rgba(0, 0, 0, 0.05);
    transition:0.2s ease;
}


.card-list .card-item .card-link:hover{
		 border-color:#5372F0;
    outline: none !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    -webkit-tap-highlight-color: transparent !important;
}


.card-list .card-link img{
    width:100%;
    height:290px;
    aspect-ratio: 16/9;
    object-fit:cover;
    border-radius:10px;
}


.card-list .card-link .badge {
    color:#5372F0;
    background: #DDE4FF;
    padding:8px 16px;
    font-size:0.95rem;
    font-weight:500;
    margin: 16px 0 18px;
    width:fit-content;
    border-radius:50px;
}


.card-list .card-link .badge.badge2 {
    color:#B22485;
    background:#F7DFF5;
}

.card-list .card-link .badge.badge3 {
    background: #FFE3D2;
    color:#B25A2B;
}

.card-list .card-link .badge.badge4{
    background:#D6F8D6;
    color:#205C20;
}

.card-list .card-link .badge.badge5{
    background: #fff3cd;
    color:#856404;
}



.card-list .card-link .card-title {

   font-size: 1.19rem; 
   color: #000;
	 font-weight: 600;
}


.card-list .card-link .card-button {

		height: 35px;
		width: 35px;
		color: #5372F0;
		border-radius: 50%;
		margin: 30px 0 5px;
		background: none;
		cursor: pointer;
		border: 2px solid #5372F0;
		transform: rotate(-45deg);
}


.card-list .card-link:hover .card-button {
    color:#ffff;
    background-color:#5372F0;
}




/* top nav bar design */

.top-bar {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 55px;
  background:#2F3A5F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  z-index: 1000;
}

.top-bar i {
  font-size: 20px;
  color: #fff;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color:#fff;
}

/* bottom nav bar design */

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:1000;
  height: 65px;
  background:#2F3A5F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}

.nav-item {
  text-decoration: none;
  color:#fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.nav-item i {
  font-size: 20px;
  margin-bottom: 3px;
}

/* ACTIVE (SHOP PAGE OPEN) */
.nav-item.active {
  color: #000;
}

.nav-item.active i {
  color: #000;
}


/* when dark mode */


body.dark-mode {
    background:linear-gradient(#0F172A, #C8D8FC);
}


body.dark-mode .top-bar,
body.dark-mode .bottom-nav {
  background: #020617;
}

body.dark-mode .section-head {
  color: #F8FAFC;
}

body.dark-mode .card-list .card-item .card-link {
  background: #111827;
  box-shadow: 0 10px 24px rgba(0,0,0,0.6);
}

body.dark-mode .card-list .card-item .card-link .card-title {
  color: #E5E7EB;
}

body.dark-mode .card-list .card-item .card-link .badge {
  background: rgba(59,130,246,0.15);
  color: #93C5FD;
}

body.dark-mode .nav-item {
  color: #94A3B8;
}

body.dark-mode .nav-item.active {
  color: #E5E7EB;
}

body.dark-mode .nav-item.active {
  color: #E5E7EB; /* soft white */
}

body.dark-mode .nav-item.active i {
  color: #3B82F6; /* bright blue icon */
}


/* slide design */

.slide {
    height: 100vh;   
    width: 260px;         
    position: fixed;  
    top: 0;
    left: -260px; 
    background-color: #ffffff;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
    z-index: 2000; 
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.slide.active {
    left: 0;
}

.menu-head {
    color: #2F3A5F;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-left:20px;
    border-bottom: 1px solid #eee;
    text-align: left; 
}

.menu-item {
    list-style: none;
    padding: 0;
}

.menu-item .item {
    margin-bottom: 10px;
}

.menu-item .item a {
    color: #011241;
    font-weight: 500;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.menu-item .item a:hover {
    background-color: #F0F4FF;
    color: #5372F0;
}

.menu-item .item a .slide-icon{
    width:30px;
    font-size: 1.1rem;
    margin-right:px;
    
}

#closeMenu{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: #2F3A5F;
    cursor: pointer;
    z-index: 2001;
    transition: 0.3s;
}

#closeMenu:hover {
    transform: scale(1.1); 
    outline: none !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    -webkit-tap-highlight-color: transparent !important
}


/* slide menu when dark mode design start */

body.dark-mode .slide {
    background-color: #020617;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.5);
}

body.dark-mode .menu-head {
    color: #fff;
    border-bottom-color: #1e293b;
}

body.dark-mode .menu-item .item a {
    color: #cbd5e1;
}

body.dark-mode .menu-item .item a:hover {
    background-color: #1e293b;
    color: #3B82F6;
}

body.dark-mode #closeMenu {
    color: #fff;
}

/* slide menu when dark mode design end */




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1500; 
    opacity: 0;
    pointer-events: none; 
    transition: 0.3s ease;
}


.overlay.active {
    opacity: 1;
    pointer-events: auto; 
}
